.sidebar, .main{
    transition: all .3s ease-out;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 64px;
    bottom: 0;
  
  }
  
  .sidebar{
    width:300px;
    border-right: 1px solid rgb(133, 128, 128);
  }

  .main{
  background-color: #f5f5f5;
  position: absolute;
  left: 310px;
  right: 0;
  padding: 20px;

  }
  
  ul {
      list-style-type: none;
    
  }